<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <form method="post" action="/posts">
        
    <input type="text" placeholder="Enter username" name="username">
    <br />
    <br />
    <textarea rows="5" cols="45" enter content name="content"></textarea>
    <br />
    <button>submit</button>
    
    </form>
</body>
</html>